body {
  /* background-color: #777777; */
  background-image: url("../img/softboard.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-wrap: break-word;
}

.panel {
  transition: 0.4s;
  margin: 15px;
  padding: 2px;
}

.panel:hover {
  transition: 0.4s;
  transform: scale(1.1);
}

.left {
  position: absolute;
  bottom: 10px;
  left: 15px;
  cursor: pointer;
}

.top {
  position: absolute;
  left: 100px;
  top: 60px;
  font-size: 0.6em;
  color: rgb(27, 27, 90);
}

.middle {
  position: absolute;
  bottom: 10px;
  left: 130px;
  cursor: pointer;
}
.right {
  position: absolute;
  bottom: 10px;
  right: 15px;
  cursor: pointer;
}
.right:hover,
.middle:hover,
.left:hover {
  text-decoration: underline;
}

.main {
  font-family: "Gochi Hand", cursive;
  font-size: 2.5em;
  color: black;
  text-align: center;
  margin-top: 47%;
  height: 60px;
  width: 270px;
  transition: 0.4s;
}

.behind {
  opacity: 0;
  font-family: "Patrick Hand", cursive;
  font-size: 1.2em;
  margin-top: -160px;
  transition: 0.4s;
  width: 250px;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card {
  z-index: 2;
  display: table;
  /* background-color: rgb(212, 183, 53); */
  background-image: url("../img/page.png");
  border-radius: 20px;
  height: 300px;
  width: 300px;
  margin-left: 5vw;
  /* margin: 20px; */
  transition: 0.4s;
}

.card:hover {
  transition: 0.4s;
  transform: scale(1.2);
  z-index: 99;
}

.card:hover > .behind {
  opacity: 1;
  transition: 0.4s;
  z-index: 100;
}
.card:hover > .main {
  transition: 0.4s;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-family: "Patrick Hand", cursive;
  font-size: 2em;
  text-align: center;
}
.modal-content,
.modal-body {
  font-family: "Patrick Hand", cursive;
  font-size: 1.2em;
  background-image: url("../img/paper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#checkboxesElement {
  margin-left: 10%;
}

#addNewNote {
  position: absolute;
  right: 40px;
}

.list-group-item {
  cursor: default !important;
}

.list-group-item:hover {
  text-decoration: none;
}

.dropup {
  position: absolute;
  left: 10px;
  bottom: 17px;
}

.deadlineFont {
  font-family: "Patrick Hand", cursive;
  color: rgb(129, 15, 15);
}

.glyphicons {
  z-index: 200;
}

#fileToUpload {
  position: absolute;
  left: 15px;
}

.navbar-brand,
.green {
  transition: 1s !important;
}

.navbar-brand:hover {
  transition: 1s;
}

.navbar-brand:hover > .green {
  transition: 0.6s;
  color: rgb(255, 94, 0) !important;
}

#searchInput {
  width: 300px;
  margin-top: 7px;
  margin-left: 2px;
  background-color: rgb(233, 233, 233);
}
